@import "utils/constants.scss";
@import "utils/mixines.scss";

.filter {
  padding: 60px 75px 65px;
  @include flex-wrap(center);

  &__item {
    width: 33%;
    text-align: center;
  }

  &__link {
    display: block;
    text-align: center;
    padding: 26px 0;
    border-bottom: $tab-border;
    @include transition();

    &.current {
      border-bottom: $tab-border-active;
    }
  }
}