@import "utils/constants.scss";
@import "utils/mixines.scss";

.navbar {
  height: 145px;
  color: $text-color;
  @include flex-wrap();
  padding: 25px 85px;
  background-color: $background-navbar;

  &__brand {
    font-family: 'Marbellya Regular', Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: $text-color;
  }

  &__right {
    margin-left: auto;
    @include flex-wrap(flex-end);
  }

  &__nav {

    &-link {
      text-decoration: none;
      padding: 8px 30px;
      color: $text-color;
      @include transition();

      &:hover,
      &:active {
        text-decoration: none;
        color: $hover-color;
      }
    }
  }

  &__search {
    padding: 8px 30px;
  }

  &__notice {
    padding: 8px 30px;
  }

  &__action {

  }

  &__avatar {
    position: relative;

    &-active {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      display: inline-block;
      border-radius: $border-radius-circle;
      width: 6px;
      height: 6px;
      background-color: $background-action;
      box-shadow: 0px 4px 11px rgba(31, 255, 53, 0.42);
    }
  }
}