// colors
$title-color: #131212;
$text-color: #000;
$hover-color: #11263C;
$card-text-color: #131212;
$card-category-color: #0500FF;

// gradients
$text-gradient: 90deg, rgba(138,212,236,1) 0%, rgba(239,150,255,1) 21.74%, rgba(255,86,169,1) 54.03%, rgba(255,170,108,1) 85.28%;

//backgrounds
$background-main: white;
$background-navbar: white;
$background-action: #00FF94;

// border radius
$border-radius-main: 4px;
$border-radius-circle: 50%;

// box-shadows
$box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.2);

// borders
$tab-border: 2px solid #D0D0D0;
$tab-border-active: 2px solid #000;
$border-devider: 1px solid #D0D0D0;